Individual's Tweets

In [18]:
import pandas as pd
declan = pd.read_csv("https://raw.githubusercontent.com/hglanz/DSFellow_COVID_SocialMedia/main/SocialMedia/Declans_Files/Twitter/decdec2323.csv")
declan.head()

                    Datetime  ...    Username
0  2021-01-20 17:49:34+00:00  ...  decdec2323
1  2021-01-20 17:48:38+00:00  ...  decdec2323
2  2021-01-20 17:47:30+00:00  ...  decdec2323
3  2021-01-20 17:46:41+00:00  ...  decdec2323

[4 rows x 4 columns]

In [23]:
declan.iloc[0].Text

'First time using hashtags\n#covid\n#coronavirus\n#covid_19\n#covid19\n#octothrope'

In [21]:
declan["Text"].str.contains("covid19")

0     True
1    False
2    False
3    False
Name: Text, dtype: bool

In [24]:
import pandas as pd
elephants = pd.read_csv("https://raw.githubusercontent.com/hglanz/DSFellow_COVID_SocialMedia/main/SocialMedia/Declans_Files/Twitter/elephants.csv")
elephants.head()

                    Datetime  ...         Username
0  2020-07-30 23:57:02+00:00  ...    TylerPaulUtt1
1  2020-07-30 23:44:04+00:00  ...  EndlessSynthwav
2  2020-07-30 22:40:40+00:00  ...       aanalyst50
3  2020-07-30 22:37:18+00:00  ...       RozeyBozzy
4  2020-07-30 22:32:44+00:00  ...     alfred_hanan

[5 rows x 4 columns]

Test with keyword 'elephant'

In [34]:
elephants.Text.str.lower().str.contains("its")

0      True
1      True
2      True
3      True
4      True
       ...
496    True
497    True
498    True
499    True
500    True
Name: Text, Length: 501, dtype: bool

Next is January Covid Data

In [37]:
import pandas as pd
january_covid = pd.read_csv("https://raw.githubusercontent.com/hglanz/DSFellow_COVID_SocialMedia/main/SocialMedia/Declans_Files/Twitter/january_covid.csv")
january_covid.head()

                    Datetime  ...       Username
0  2020-01-29 03:25:30+00:00  ...  dabaniwal1973
1  2020-01-12 14:59:56+00:00  ...    Capital_EKS

[2 rows x 4 columns]